div.titulo{
    background-color: lightpink;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.enlaces{
    background-color: aliceblue;
}
div.edicions{
    color: blue;
    background-color: lightsalmon;
    width: 350px;
    height: 280px;
    position: relative;
    top: 100px;
    left: 420px;

}
img.edicions{
    position: relative;
    bottom: 130px;
    right: 350px;
}
div.nominats{
    color: red;
    background-color: lightseagreen;
    width: 350px;
    height: 280px;
    position: relative;
    left: 740px;
    top: -325px;
    z-index: 1;
}
img.nominats{
    position: relative;
    top: -550px;
    left: -35px;
    z-index: 2;
}
div.contacte{
    color: blue;
    background-color: lightsalmon;
    width: 350px;
    height: 280px;
    position: relative;
    left: 1050px;
    top: -760px;
}
img.contacte{
    position: relative;
    top: -1000px;
    left: 300px;
    z-index: 2;
}

div.cuadrados{
    font-weight: bold;
}

body{
    text-align: center;
}
a:hover{
    background-color: yellow;
    color: black;
}
img{
    width: 250px;
    height: 200px;
}

div.foot{
    background-color: yellow;
    color: blue;
    font-weight: bold;
    font-size: smaller;
    display: block;
    height: 25px;
    border: 1px solid black;
    position: relative;
    bottom: 900px;
}

a.nominats:visited{
    color: red;
}
a.nominats:link{
    color: red;
}





